@model AltAir.Models.Flight
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureAirport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureAirport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalAirport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalAirport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableSeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Route)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Route.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plane)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plane.Id)
        </dd>
    </dl>
</div>
<div>
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);

        if (await UserManager.IsInRoleAsync(user, "Administrator"))
        {
            <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        }
    }
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);

        if (await UserManager.IsInRoleAsync(user, "User"))
        {
            <a asp-action="ReserveTicket" asp-controller="Tickets" asp-route-flightId="@Model?.Id">Book</a>
        }
    }
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    @if (Model.AvailableSeats > 0) // check if there are available seats
    {
        <a asp-action="ReserveTicket" asp-controller="Tickets" asp-route-flightId="@Model?.Id">Continue Booking</a>
    }
    else // display message if there are no available seats
    {
        <p>Sorry, there are no available seats for this flight.</p>
    }
    <a asp-action="Index">Back to List</a>
</div>
